.loadingGif img {
    display: block;
    margin: 0 auto;
    margin-top: 60px;
}

.loading, .table, .graph, .heatmap {
    display: none;
    text-align: center;
    justify-content: center; 
}

.loading p {
    margin-top: 60px;
}

.btn_group {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 10px;
    margin-top: 80px;

    ;
}

.content, .selection, .visualize, h1 {
    text-align: center;
    justify-content: center;
}

.selection {
    margin-top: 20px;
}

#select-submit {
    position: absolute;
    margin-top: 40px;
    margin-left: -150px;
}

button {
    margin: 5px;
}
