.loadingGif img {
    display: block;
    margin: 0 auto;
    margin-top: 60px;
}

.loading, .table, .graph, .heatmap {
    display: none;
    text-align: center;
    justify-content: center; 
}

.loading p {
    margin-top: 60px;
}

.btn_group {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 10px;
    margin-top: 80px;

    ;
}

.content, .selection, .visualize, h1 {
    text-align: center;
    justify-content: center;
}

.selection {
    margin-top: 20px;
}


button {
    margin: 5px;
}

#metric #visualize {
    width: auto;
    margin: auto;
    text-align: center;
}

label {
    display: block;
}

#select-submit {
    position: absolute;
    transition: .5s ease;
    top: 35%;
    left: 47%;
}

.spinner-grow {
    display: none;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3rem;
    height: 3rem;   
}

