/* img {
    width: 60%;
    display: block;
    margin: 0 auto;
} */
.loadingGif {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
}

.loadingGif img {
    width: 100%;
}

.loading, .table, .graph, .heatmap {
    display: none;
}

button {
    margin: 10px;
}